* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #e2c044;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* menu de navegación*/
nav {
  background-color: #2e5266;
  display: flex;
  justify-content: space-evenly;
  height: 60px;
  align-items: center;
  margin-bottom: 50px; 
}

nav li {
  font-size: 30px;
  list-style: none;
}

nav li a {
    text-decoration: none;
    color: #fff;
}   

nav li a:hover {
color: #9FB1BC
}

/* contenedor */
.container {
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

h1 {
  font-size: 70px;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 25px;
}

h2 {
  font-size: 40px;
}

p {
  font-size: 30px;
  margin-top: 20px;
}

section {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 15px;
  margin-top: 100px;
}

article {
  min-width: 32%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

article div {
  display: flex;
  margin-top: 10px;
  align-items: center;
}

article h3 {
  font-size: 20px;
}

section img.github {
  width: 100px;
}

img.logo {
  width: 135px;
  height: 135px;
  border-radius: 80px;
}

img.personal {
  width: 250px;
  height: 250px;
  border-radius: 250px;
  margin: 30px 50px 0 50px;
}
/*página 2*/

section.mision {
    margin-top: 25px; 
}

p.descripcion {
    font-size: 20px;
}

article.hacemos {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.diseno {
    margin-bottom: 20px;
}