body {
    background-color: #E2C044;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
  
/* contenedor */
.container {
    margin: auto;
    text-align: center;
}

h1 {
    font-size: 50px;
    text-transform: uppercase;
}

section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 15px;
}

article {
    min-width: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

article div {
    display: flex;

}

section img.github {
    width: 100px
}

img.logo {
    width: 135px;
    height: 135px;
    border-radius: 80px;
}

img.personal {
    width: 250px;
    height: 250px;
    border-radius: 250px;
    margin: 30px 50px 0 50px;
}



